body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    counter-reset: section estrofa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

h3::before {
    counter-increment: estrofa;
    content: "" counter(estrofa) "ยบ ";
}

p::before {
    counter-increment: section;
    content: "-Verso " counter(section) ": ";
    color: red;
}

span {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 300px;
    color: blue;
    flex-wrap: wrap;
    padding: 0px 10px 0px;
}